@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
}

h2 {
    padding-bottom: 15px;
}

p {
    padding-bottom: 10px;
}

ul {
    padding-bottom: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: gray;
}

main {
    background-color: white;
    margin: auto;
    width: 80%;
    padding: 25px;
    border-radius: 0px 0px 30px 30px;
}

form {
    display: inline;
    padding: 10px;
    text-align: center;

}

label {
    padding: 2px;
    display: block;
}

input {
    display: inline;
    padding: 7px
}